---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PatternImages from '../components/PatternImages.astro';

const articles = await getCollection('patterns');
// pub-date の新しい順にソート
const sortedArticles = articles.sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});
---

<Layout title="Pixtitch">
  <main>
    <ol class="flex flex-wrap gap-12 items-center justify-center">
      {sortedArticles.map((article) => (
        <li>
            <a href={`${import.meta.env.BASE_URL}${article.id.replace('.md', '')}`} class="block p-2 border border-base-300 rounded-lg">
              <PatternImages 
                baseName={article.id.replace('.md', '')} 
                title={article.data.title}
                x={article.data.x}
                y={article.data.y}
              />
            </a>
        </li>
      ))}
    </ol>
  </main>
</Layout>
