---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PatternImages from '../components/PatternImages.astro';

const articles = await getCollection('articles');
// IDの数字部分でソート
const sortedArticles = articles.sort((a, b) => {
  const aNum = Number.parseInt(a.id.replace('content-', '').replace('.md', ''));
  const bNum = Number.parseInt(b.id.replace('content-', '').replace('.md', ''));
  return aNum - bNum;
});
---

<Layout title="Pixtitch">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p>
      To get started, open the directory <code class="astro-code">src/pages/</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" heading above.
    </p>

    <ol>
      {articles.map((article) => (
        <li>
            <a href={`/${article.id.replace('.md', '')}`}>
              <PatternImages baseName={article.id.replace('.md', '')} title={article.data.title} />
            </a>
        </li>
      ))}
    </ol>
  </main>
</Layout>
