<header class="sticky top-0">
    <div>
      <h1>
        <a href="/" class="text-xl font-bold text-gray-800 hover:text-gray-600">
          Pixtitch
        </a>
      </h1>
    </div>
    <p>pixtitch is an ongoing project by Hiroshi Ohba, exploring the intersection of pixel art and embroidery.</p>
</header>